@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    height: 100%;
    width: 100%;
   
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: fit-content;
    width: 100%;
    /* background-color: red; */
    margin:2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle{
    height: 5vh;
    width: 5vh;
    background-color: rgb(161, 209, 218);
    border-radius: 50%;
    position: absolute;
    left: 170px;
    top: 1px;
    z-index: 1;
}
.logo h4{
    z-index: 2;
    font-family: "Playwrite VN", cursive;
    line-height: 1.4;
    color: rgb(19, 145, 230);
    font-size: 1.5vw;


}.container2{
    height: 96vh;
    width: 40%;
    background-image: url(solen-feyissa-Oq4tIn-aeko-unsplash.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container{
    height: 96vh;
    width: 40%;
    background-color: white;
    padding: 0.5vw 3vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

form{
    height:fit-content;
    width: 100%;
    /* background-color: green; */
}

form div{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

form input{
    padding: 1vw 0;
    border-radius: 50px;
    margin: 0.3vw 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.2vw;
    padding-left: 2vw;
    border: none;
}


.container p{
    font-size: 1vw;
    text-align: center;
    padding: 1vw 0;
    
}

.container h1{
    margin-bottom:1vw ;
}

.container h3{
    text-align: center;
}


.container h3 span{
    color: #3ab5db;
}

.sign input {
    background-color: #3aa8db;
    display: flex;
    justify-content: center;
    padding-left: 15vw;
    font-size: 1.2vw;
    color: white;
    font-weight: 900;
    margin-top: 2vw;
}