
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.playlist{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 250px;
    width: 350px;
    /* background-color: aqua; */
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px;
}

.videoposter{
    height: 65%;
    width: 100%;
    /* background-color: violet; */
    border-radius: 20px;

}

.videoposter img{
    height: 100%;
    width: 100%;
}

.videoinfo{
    height: 35%;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
}

.profile{
    height: 90%;
    width: 15%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
}

.profile img{
    border-radius: 50%;
    height: 50%;
}

.title{
    height: 90%;
    width: 70%;
    /* background-color: yellow; */
}

.title h2{
    font-size: 14px;
}

.title p{
    font-size: 12px;

}

.description{
    height: 90%;
    width: 15%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
}