
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 250px;
    width: 350px;
    background-color: aqua;
    border-radius: 20px;
    overflow: hidden;
}

.videoposter{
    height: 65%;
    width: 100%;
    background-color: violet;
}

.videoinfo{
    height: 35%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.profile{
    height: 90%;
    width: 15%;
    background-color: brown;
    display: flex;
    justify-content: center;
}

.profile img{
    border-radius: 50%;
}

.title{
    height: 90%;
    width: 70%;
    background-color: yellow;
}

.title h2{
    font-size: 14px;
}

.title p{
    font-size: 12px;
}

.description{
    height: 90%;
    width: 15%;
    background-color: green;
}