*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color:#0f0f0f;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    
}



header{
    height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    position:fixed;
    top: 0;
    z-index: 100;
}

.logo-div{
    width: 20%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button i{
    font-size: 23px;
    margin-left: .5vw;
}

.logo-div img{
    height: 100px;
    margin-top: 5px;
}

.search-bar{
    width: 60%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 60%;
    height: 80%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* border: none; */
    outline: none;
    padding-left: 3vw;
    border:1px solid grey;
}

.search-icon{
    height: 80%;
    width: 7%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* margin-top: 1px; */
    border: 1px solid grey;
}

.search-icon:hover{
    background-color: #eceaea;
}



.mice-div{
    height: 40px;
    width: 40px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1.5vw;
}

.mice-div:hover{
    background-color: #F2F2F2;
}


.profile{
    width: 20%;
    height: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.profile-div{
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-div:hover{
    background-color: #e7e5e5;
}

.profile-img{
    background-image: url(../assets/saurabh.jpeg);
    background-size: cover;
    background-position: center;
}

aside{
    height:fit-content;
    width: 17%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 1vw;
    margin-top: 40px;
}

.menu-item{
    height: 40px;
    width:80%;
    /* background-color: #F2F2F2; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    margin-left: 10px;
}

.menu-item:hover{
    background-color: #e6e6e6;
}

.menu-item i{
    font-size: 20px;
}

#span{
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#span1{
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#span2{
   font-size: 16.5px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.first{
    height: 120px;
    width: 100%;
    /* background-color: red; */
}

hr{
    width: 80%;
   margin-left: 10px;
   margin-top: 5px;
}

.second{
    height: 290px;
    width: 100%;
    /* background-color: red; */
}

.third{
    height: 375px;
    width: 100%;
    /* background-color: red; */
}

.third .menu-item{
    justify-content: space-between;
}

.Subscriptions{
    font-size: 19px;
    margin-left: -25px;
    font-family: "Roboto", sans-serif;
}

.profile-img1{
    height: 30px;
    width: 30px;
    background-color: aqua;
    border-radius: 50%;
    margin-left: -20px;
    background-image: url(../assets/tech-bar\ img.jpg);
    background-position: center;
    background-size: cover;
}

.img2{
    background-image: url(../assets/img2.jpg);
    background-size: cover;
    background-position: center;
}

.img3{
    background-image: url(../assets/img3.jfif);
    background-size: cover;
    background-position: center;
}

.img4{
    background-image: url(../assets/img4.jfif);
    background-size: cover;
    background-position: center;
}

.img5{
    background-image: url(../assets/img5.jpg);
    background-size: cover;
    background-position: center;
}

.ri-arrow-down-s-line{
    margin-left: -17px;
}

.img7{
    background-image: url(../assets/img7.jpg);
    background-size: cover;
    background-position: center;
}

.img8{
    background-image: url(../assets/img8.jpg);
    background-size: cover;
    background-position: center;
}


p{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.ri-rfid-line{
    font-size: 10px;
    color: crimson;
}

.dot{
    font-size: 25px;
    margin-top: -15px;
    color: blue;
}

.fourth{
    height: 480px;
    width: 100%;
    /* background-color: red; */
}

.Explore{
    font-size:18px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    margin-bottom: 7px;
}

.fourth-p{
    font-size: 13px;
}

.fifth{
    height: 210px;
    width: 100%;
    /* background-color: red; */
}

.more-frome-youtube{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

.icondiv{
    height: 35px;
    width: 35px;
    /* background-color: green; */
    border-radius: 50%;
    background-image: url(..//assets/youtube\ icon\ logo.avif);
    background-size: cover;
    background-position: center;
    margin-left: -20px;
}

.logo2{
    background-image: url(..//assets/youtube\ studio\ logo\ 3.jpg);
    background-size: cover;
    background-position: center;
}

.logo3{
    background-image: url(..//assets/Youtube-Music-Logo.png);
    background-size: cover;
    background-position: center;
}

.logo4{
    background-image: url(..//assets/youtube\ kids\ logo.webp);
    background-size: cover;
    background-position: center;
}

.fifth-p{
    font-size: 13px;
}

.sixth{
    height: 180px;
    width: 100%;
    /* background-color: red; */
    margin-top: -10px;
}

.sixth-p{
    font-size: 14px;
}

.seventh{
    height: 120px;
    width: 100%;
    background-color: red;
}

.bottom-p{
    margin-left: 20px;
    color: rgb(104, 103, 103);
    width: 80%;
    font-size: 12px;
}


main{
    height: 2000px;;
    width:80%;
    background-color: aqua;
    position: absolute;
    top: 40px;
    left: 17%;
    margin-top: 10px;
}

.intrestBarParent{
    width: 100%;
    overflow: auto;
    position: fixed;
   
}

.intrestBarParent::-webkit-scrollbar{
    display: none;
}
.interestbar{
    height: 2%;
    width:fit-content;
    /* background-color: red; */
    display: flex;
    gap: 10px;
    align-content: center;
}

.intrest{
    height: 30px;
    width: fit-content;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.intrest:hover{
    background-color: rgb(158, 157, 157);
}

#color{
    color: white;
    background-color: #0f0f0f;
}

.intrest:active{
    background-color: black;
    color: white;

}

.intrest h3{
    font-size: 17px;
    margin: 0 1vw;
}