
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#input{
    height: 50px;
    width: 40%;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 20px;
    border: none;  
    padding-left: 20px; 
    border: 1px solid grey;
    font-size: 20px;
    color: #F7CA00;
}

#input:focus{
    outline: 1px solid #F7CA00;
}

#searchbutton{
    height: 50px;
    width: 10%;
    border-radius: 30px;
    border: none !important;
    outline: none;
    background-color: #F7CA00;
    font-size: 17px;
}

.saurabh{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.iphone-card{
    height: 300px;
    width: 60%;
    /* background-color: rgb(222, 229, 235); */
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.iphone-img-container{
    height: 100%;
    width: 40%;
}

.iphone-img-container img{
    height: 100%;
}

.iphone-details{
    height: 100%;
    width: 70%;
    /* background-color: rgba(223, 217, 217, 0.664); */
    padding-left: 20px;
}

.iphone-details h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.ratting{
    display: flex;
    margin-top: 10px;
}
.ratting i{
    color: #DE7921;
    font-size: 19px;
}

.ratting p{
    font-size: 17px;
    color: #007185;
    margin-left: 15px;
    margin-top: 3px;
}

.k4{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9DA09F;
    margin-top: 3px;
}

.iphone-details h2{
    font-size: 17px;
    color: #565959;
    margin-top: 10px;
}

.iphone-details span{
    font-size: 30px;
    color: #000000;
    margin-left: 3px;
}

.emi{
    font-size: 17px;
    color: #9DA09F;
    margin-top: 5px;
}

.prime{
    display: flex;

}

.prime i{
    font-size: 18px;
    color: #DE7921;
    font-weight: 900;
    margin-top: 10px;
}

.prime h3{
    color: #23A9FF;
    margin-top: 10px;
}

.free{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.button{
    padding: .9vw 1.6vw;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color:#F7CA00 ;
    margin-top: 10px;
}

.aad-to-cart {
    height: 60px;
    width: 60px;
    background-color: #F7CA00;
    color: black;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: 5%;
}

.cart-container {
    height: 500px;
    width: 400px;
    background-color: #23A9FF;
    position: absolute;
    /* display: none; */
    left: 64%;
    top: 16%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.aad-to-cart:hover + .cart-container {
    display: block;
}


.card{
    height: 200px;
    width: 100%;
    background-color: #DE7921;
    display: flex;
}

.img-container{
    height: 100%;
    width: 40%;
    background-color: rgba(223, 217, 217, 0.664);
}

.img-container img{
    height: 100%;
    width: 100%;
}

.info-container{
    height: 100%;
    width: 60%;
    background-color: rgba(223, 217, 217, 0.664);
    padding-left: 10px;
}

.info-container p{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}